<%= form_with url: "/search", class: "mb-4 text-black", method: :get do |form| %>
    <div class="flex gap-4 mx-1 text-black">
      <%= form.text_field :prompt_text, class: "border p-2 w-full", placeholder: "Search for a prompt you'd like to see responses for" %>
      <%= form.submit "Search", class: "bg-blue-500 text-white p-2 rounded-lg" %>
    </div>
<% end %>