<% @user_input = "How am I?" %>
<% @responses = ["im doin nifty", "im doing swell", "just fine, and you?"] %>

<div class="container bg-gray">
  


<div class="pt-10 h-screen px-20">
  <div class="flex justify-between mb-5 items-center">
    <h1 class="mx-1 text-2xl font-bold mb-4">What to Say 💭</h1>
    <%= render 'login' %>
  </div>
  <%= render 'search' %>
  <div class="px-1">
    <h2 class="text-xl font-bold mb-2">Prompt</h2>
    <p class="mb-2">How are you?</p>
    
    <% if @prompts.include?(@user_input) %>
      <p class="mb-2"><%= @user_input %></p>
    <% end %>

    <div class="example">
      <h3 class="text-lg font-bold mb-1">Responses</h3>
      <%= render partial: 'response', collection: @responses %>
    </div>
  </div>
</div>

  

  <div class="word-definition">
  </div>


</div>
